.Reservations{
	#datepicker{
		width: 100%;
		.ui-datepicker{
			width: 100%;
		}
	}
	.resTime{
		font-size: 16px;
		color: #444;
		font-weight: bold;
	}
	.party{
		background: #eee;
		margin-bottom: 10px;
		padding: 12px 15px 5px;
		p{
			margin-bottom: 3px;
		}
	}
}