.promo{
	background: #e3da4f;
	z-index: 1500;
	position: absolute;
	left: 130px;
	top: 19px;
	padding: 10px 15px;
	border: 1px solid #000
}
.promo-title{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
@media screen and (max-width: 465px){
	.promo{
		top: 65px;
		left: auto;
		right: 21px;
		
	}
}
.promo-bar{
    height: auto;
    background: #e3da4f;
    width: 100%;
    padding: 0 30px;
    text-align: right;
    
    .promo-title{
        line-height: 40px;
    }
    
    .promo-text{
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        line-height: 40px;
        
        a{
            color: #000;
            text-decoration: underline;
        }
    }
    
}
@media screen and (max-width:768px){
    .promo-bar{
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: auto;
	    z-index: 99999;
	    padding: 15px 20px;

	    .promo-title{
		    line-height: 20px;
	    }

	    .promo-text{
		    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		    line-height: 20px;

		    a{
			    color: #000;
			    text-decoration: underline;
		    }
	    }

    }
}
