.room, .room2{
	.hero{
		height: 550px;
	}
}
@media screen and (max-width: 654px){
	
	.room{
		.hero{
			height: 650px
		}
	}
	
}

@media screen and (max-width: 415px){
	
	.room{
		.hero{
			height: 750px
		}
	}
	
}


@media screen and (max-width: 359px){
	
	.room{
		.hero{
			height: 900px
		}
	}
	
}

@media screen and (max-width: 319px){
	
	.room{
		.hero{
			height: 1000px
		}
	}
	
}

.room-booking-form{
	background-color: #f0f0f0;
	padding: 30px;
	clear: both
}