<template name="adminDashboard">

    <div class="hero" style="background-image: url({{aboutCover}});">
        <div class="overlay">
            <div class="content">
                <h1>Dashboard</h1>

            </div>
        </div>
    </div>

    {{#if currentUser}}
        <div class="docs">
            <h2>Welcome to your dashboard</h2>
            <p><a class="button button-primary" href="{{pathFor 'adminGamesCalendar'}}">Go to reservations &rarr;</a></p>
            <h2>Documentation</h2>
            <p>...</p>
        </div>
    {{else}}
        <div class="container marketing">
            Admins only
        </div>
        <!--{{> loginButtons}}-->
    {{/if}}
</template>
