<template name="adminNav">
    <a href="{{pathFor route="adminGamesCalendar"}}" class="btn btn-block btn-lg btn-default">Games</a>
    <a href="{{pathFor route="adminCouponsList"}}" class="btn btn-block btn-lg btn-default">Coupons</a>
    <a href="{{pathFor route="waiver"}}" class="btn btn-block btn-lg btn-default">Waiver</a>
    <a href="{{pathFor route="adminRooms"}}" class="btn btn-block btn-lg btn-default">Rooms</a>
    <!--<a href="{{pathFor route="reportsTransactionsList"}}" class="btn btn-block btn-lg btn-default">Reports</a>-->
    <a href="{{pathFor route="adminSettings"}}" class="btn btn-block btn-lg btn-default">Settings</a>

</template>