<template name="roomForm">
        <form hook="save-room" class="save-room" style="padding: 12px 15px">
            <div class="form-group">
                <label for="title">Room Title</label>
                <input type="text" hook="title" class="form-control" id="title" name="title" value="{{title}}">
            </div>

            <div class="form-group">
                <label for="slug">URL Slug</label>
                <input type="text" hook="slug" class="form-control" id="slug" name="slug" value="{{slug}}">
            </div>

            <div class="form-group">
                <label for="image">Cover Image</label>
                <input type="text" hook="image" class="form-control" id="image" name="image" value="{{image}}">
            </div>

            <div class="form-group">
                <label for="excerpt">Excerpt</label>
                <input type="text" hook="excerpt" class="form-control" id="excerpt" name="excerpt" value="{{excerpt}}">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea hook="description" class="form-control" id="description" name="description" value="{{description}}"></textarea>
            </div>

            <div class="form-group">
                <label for="available">Is this room available?</label>
                {{#if available}}
                    <input type="checkbox" hook="available" class="form-control" id="available" name="available" checked="checked">
                {{else}}
                    <input type="checkbox" hook="available" class="form-control" id="available" name="available">
                {{/if}}
            </div>


            <div class="form-group">
                <label for="opening">When will it be available?</label>
                <input type="text" hook="openingDate" class="form-control" id="openingDate" name="openingDate" value="{{openingDate}}">
            </div>

            <div class="form-group">
                <label for="ribbon">Ribbon Promo Text</label>
                <input type="text" hook="ribbon" class="form-control" id="ribbon" name="ribbon" value="{{ribbon}}">
            </div>

            <div class="form-group">
                <label for="duration">Duration (Mins)</label>
                <input type="text" hook="duration" class="form-control" id="duration" name="duration" value="{{duration}}">
            </div>

            <!--<div class="form-group">-->
                <!--<label for="pricePerPlayer">Price Per Player</label>-->
                <!--<input type="text" hook="pricePerPlayer" class="form-control" id="pricePerPlayer" name="pricePerPlayer" value="{{pricePerPlayer}}">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label for="priceToClose">Cost to Close Room (Private)</label>-->
                <!--<input type="text" hook="priceToClose" class="form-control" id="priceToClose" name="priceToClose" value="{{priceToClose}}">-->
            <!--</div>-->

            <div class="form-group">
                <label for="kamaainaDiscountPerPlayer">Resident Discount (Per Player)</label>
                <input type="text" hook="kamaainaDiscountPerPlayer" class="form-control" id="kamaainaDiscountPerPlayer" name="kamaainaDiscountPerPlayer" value="{{kamaainaDiscountPerPlayer}}">
            </div>

            <div class="form-group">
                <label for="minPlayers">Minimum Number of Players</label>
                <input type="text" hook="minPlayers" class="form-control" id="minPlayers" name="minPlayers" value="{{minPlayers}}">
            </div>

            <div class="form-group">
                <label for="maxPlayers">Maximum Number of Players</label>
                <input type="text" hook="maxPlayers" class="form-control" id="maxPlayers" name="maxPlayers" value="{{maxPlayers}}">
            </div>

            <div class="form-group">
                <label for="successRate">Success Rate (Estimated)</label>
                <input type="text" hook="successRate" class="form-control" id="successRate" name="successRate" value="{{successRate}}">
            </div>

            <div class="form-group">
                <label for="successRate">Price Range</label>
                <input type="text" class="form-control" id="priceRange" name="priceRange" value="{{priceRange}}">
            </div>

            <div class="form-group">
                <label for="order">Display Order</label>
                <input type="text" hook="order" class="form-control" id="order" name="order" value="{{order}}">
            </div>

            <div class="form-group">
                <label for="available">Publish Room?</label>
                {{#if published}}
                    <input type="checkbox" hook="published" class="form-control" id="published" name="published" checked="checked">
                {{else}}
                    <input type="checkbox" hook="published" class="form-control" id="published" name="published">
                {{/if}}
            </div>

            <div class="form-group">
                <label for="available">Retired?</label>
                {{#if retired}}
                    <input type="checkbox" hook="retired" class="form-control" id="retired" name="retired" checked="checked">
                {{else}}
                    <input type="checkbox" hook="retired" class="form-control" id="retired" name="retired">
                {{/if}}
            </div>

            <!--<input type="hidden" hook="published" class="form-control" id="published" name="published" value="{{published}}"><br>-->

            <input type="submit" class="button btn-block" value="Save Room">
        </form>

        {{#if updatingRoom}}
            <a href="#" hook="delete-room" class="btn-block text-center " style="color: red; margin: 40px 0;">Delete Room</a>
        {{/if}}
</template>