<template name="adminSchedule" xmlns="http://www.w3.org/1999/html">

    {{#if currentUser}}

        <div class="calendarNav">
            <a href="#">Previous</a>
            <a href="#">Next</a>
        </div>

        <div class="calendar">
            {{#each days}}
                {{>adminScheduleDay date=this}}
            {{/each}}
        </div>

    {{else}}

        <div class="container">

            <div class="row">

                <div class="col-xs-12">
                    <h1>Admins only</h1>
                    <br>
                    {{> loginButtons}}
                </div>

            </div>

        </div>

    {{/if}}

</template>