<template name="lostContinentCountdown">

    <div id="countdown-container" class="hidden">
        <div id="countdown" style="display: none">0:00</div>
        <div id="dots">
            <div id="tens">&#9632;</div>
            <div id="units">&#9632;</div>
            <div id="remainder">&#9632;</div>
        </div>
    </div>
    <div id="shadow-sequence-container" class="hidden">
        <video id="shadow-sequence" width="1000" controls loop>
            <source src="https://s3-us-west-2.amazonaws.com/escaperoomkauai.com/tiki-voyage-narration-compressed.mp4" type="video/mp4" preload="auto">
        </video>
    </div>

    <audio id="music">
        <source src="https://s3-us-west-2.amazonaws.com/escaperoomkauai.com/basecamp.mp3" type="audio/mpeg">
    </audio>
</template>
