<template name="lostContinentCountdown">

    <div id="countdown-container">
        <div id="countdown" style="display: none">0:00</div>
        <div id="dots">
            <div id="tens">&#9632;</div>
            <div id="units">&#9632;</div>
            <div id="remainder">&#9632;</div>
        </div>
    </div>
    <div id="shadow-sequence-container" class="hidden">
        <video id="shadow-sequence" width="1000" controls loop>
            <source src="/videos/projection-test.mp4" type="video/mp4">
        </video>
    </div>

</template>
