body.lostContinentCountdown{
    background: black;
    
    #countdown-container{
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    
    
        #countdown{
            color: #FFF;
        }
        
        #dots{
            font-size: 40px;
            line-height: 44px;
            color: #fff;
            width: 100%;
            text-align: center;
            
            #tens{
            }
    
            #units{
                margin-bottom: 40px;
            }
            
            #remainder{

            }
    
            span.wt{
                color: #FFF;
                text-shadow: 0 0 10px #000;
            }
    
            span.bt{
                color: #000;
                text-shadow: 0 0 10px #FFF;
            }
        }
        
    }
    
    #shadow-sequence-container {
        
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
    }
    
    
}

