<template name="lostContinentMuScreen">

    <div id="countdown-container">
        <div id="countdown" style="display: none">0:00</div>
        <div id="dots">
            <div id="tens">&#9632;</div>
            <div id="units">&#9632;</div>
            <div id="remainder">&#9632;</div>
        </div>
    </div>


    <audio id="mu-soundtrack">
        <source src="https://s3-us-west-2.amazonaws.com/escaperoomkauai.com/mu-soundtrack.mp3" type="audio/mpeg">
    </audio>

    <audio id="mu-loser">
        <source src="https://s3-us-west-2.amazonaws.com/escaperoomkauai.com/loser-lost-continent.mp3" type="audio/mpeg">
    </audio>

</template>
