<template name="confirmation">
    <div class="container" style="max-width: 600px">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <br>
                <a href="{{pathFor  'home' }}" style="color: green;">&larr; back to homepage</a>
                <h1>Reservation Confirmed</h1>

                <table class="table table-responsive table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Reservation #{{reservation.publicId}}</th>
                    </tr>

                    <tr>
                        <td>{{roomTitle reservation.roomId}}</td>
                    </tr>
                    <tr>
                        <td>{{humanReadableDate reservation.game.date}} @ {{reservation.game.time}}</td>
                    </tr>
                    <tr>
                        <td>{{reservation.nbPlayers}} players</td>
                    </tr>
                    <tr>
                        <td>Reserved under {{reservation.firstName}} {{reservation.lastName}} &nbsp;&bull;&nbsp; {{reservation.email}} &nbsp;&bull;&nbsp; {{reservation.phone}}</td>
                    </tr>

                    <tr>
                        <td>{{toCurrency reservation.due}} at check-in</td>
                    </tr>
                    <!--{{#if closeRoom}}-->
                    <!--<tr>-->
                        <!--<td>Closed Room<br>You will play the room with only members of your party of {{reservation.nbPlayers}}. No one else can join this time slot.</td>-->
                    <!--</tr>-->
                    <!--{{/if}}-->


                    </tbody>
                </table>

                <!--<table class="table table-responsive table-bordered table-striped">-->
                    <!--<tbody class="text-right">-->

                        <!--<tr>-->
                            <!--<th>Amount Charged</th>-->
                            <!--<td class="currency">{{toCurrency reservation.total}}</td>-->
                        <!--</tr>-->
                        <!--{{#if reservation.adjustments}}-->
                            <!--{{#if reservation.refund}}-->
                            <!--<tr>-->
                                <!--<th>Amount Refunded (may take 5-10 days to appear on your statement)</th>-->
                                <!--<td class="currency">{{toCurrency reservation.refund}}</td>-->
                            <!--</tr>-->
                            <!--{{/if}}-->
                            <!--{{#if reservation.extra}}-->
                            <!--<tr>-->
                                <!--<th>Extra Charges</th>-->
                                <!--<td class="currency">{{toCurrency reservation.extra}}</td>-->
                            <!--</tr>-->
                            <!--{{/if}}-->
                            <!--<tr>-->
                                <!--<th>Corrected Amount Charged</th>-->
                                <!--<td class="currency">{{toCurrency reservation.correctedAmount}}</td>-->
                            <!--</tr>-->
                            <!--{{/if}}-->
                    <!--</tbody>-->
                <!--</table>-->



                 <b>CHECK-IN</b>
                 <br><br>
                Please arrive 10 minutes before the game start time.
                <br>
                If you arrive late we may have to cut your game time short.
                <br><br>
                 <b>PARKING</b>   
                 <br><br>   
                 Parking is available behind our building. You might also be able to park in front of our building on Rice street depending on the time and day of the week. It may take you a few minutes to find parking, especially on weekdays before 6pm, so please plan accordingly.
                 <br><br>
                 <b>LOCATION AND DIRECTIONS:</b>   
                 <br><br>   
                 <a style="color: #d26b2d" href="https://goo.gl/maps/VeL2UA3BNEo">Click here to view on Google Maps</a>
                 <br><br>
                 <b>REMINDERS:</b>   
                 <br><br>   
                 * Our escape games take place in relatively small rooms with no windows.   
                 <br><br>   
                 * Reading may be required at various points during the games; please bring reading glasses if needed.   
                 <br><br>   
                 * At least 1 player in each group must not be colorblind.   
                 <br><br>   
                 See you soon! 
                
                
                
            </div>
        </div>
    </div>
</template>