<template name="footer">

    <!-- FOOTER -->
    <!-- TODO: MAKE ROOMS LIST DYNAMIC -->
    <footer style="padding: 2px 4px 0px">
        <div class="footer-bg" style="background-color: #f0f0f0; padding: 30px 0">
            <div class="container" style="clear: both;">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{pathFor 'home'}}">Home</a>
                        &nbsp;&bull;&nbsp;
                        <a href="{{pathFor 'rooms'}}">Rooms</a>
                        &nbsp;&bull;&nbsp;
                        <a href="{{pathFor 'contact'}}">Contact</a>
                        &nbsp;&bull;&nbsp;
                        <a href="{{pathFor 'directions'}}">Directions</a>
                        &nbsp;&bull;&nbsp;
                        <a href="{{pathFor 'about'}}">About</a>
                        <br>
                        <a href="/room/mad-scientist">Room: Missing Scientist</a>
                        &nbsp;&bull;&nbsp;
                        <a href="/room/lost-elvis-record">Room: Lost Elvis Record</a>
                        <br>
                        <a href="/room/tiki-lounge">Room: Tiki Lounge</a>
                        &nbsp;&bull;&nbsp;
                        <a href="/room/mobile">Room: Mobile Escape Room</a>
                        <br>
                        <a href="{{pathFor 'adminDashboard'}}">Administrator Login →</a>
                        <br>
                        Version 2.0.16
                    </div>
                </div>
            </div>
        </div>

    </footer>
</template>