<template name="giftCardPurchaseConfirmed">
    <div class="container" style="max-width: 600px">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <br>
                <a href="{{pathFor  'home' }}" style="color: green;">&larr; back to homepage</a>
                <h1>Gift Card Purchase Confirmed</h1>

                <table class="table table-responsive table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th class="text-center">COUPON CODE<br><code style="font-size: 32px; color: #0e5900; background-color: #FFF">{{coupon}}</code></th>
                    </tr>

                    <tr>
                        <td class="text-center">${{discount}}.00 +tx</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-responsive table-bordered table-striped">
                    <tbody class="text-right">
                    <tr>
                        <th>Credit Card Transaction Number</th>
                        <td class="currency">{{transaction.id}}</td>
                    </tr>
                    <tr>
                        <th>Amount Charged</th>
                        <td class="currency">{{centsToDollarsCurrency transaction.amount}}</td>
                    </tr>

                    </tbody>
                </table>







            </div>
        </div>
    </div>
</template>