<template name="home">

    <div class="hero" style="background-image: url({{homepageCover}});">
        <div class="overlay">
            <div class="content col-xs-12 text-center">
                <h1>{{homepageHeroTitle}}</h1>
                <p>{{homepageHeroTagline}}</p>
                <a href="{{pathFor 'rooms'}}" class="button">Our Rooms</a>
                <a href="#" hook="explainer" class="button button-unavailable">How It Works</a>
            </div>
        </div>
    </div>

    <div class="container" id="explainer">


        <!-- EXPLAINER -->
        <div class="row">

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 class="subheading">What are escape rooms?</h2>
                <p class="lead">{{textareaToHTML homepageWhatEscape}}</p>
                <p class="lead"><a href="{{pathFor 'faq'}}">Learn more &rarr;</a></p>
            </div>

        </div>

        <!-- ROOMS -->
        <div class="row">

            <div class="col-xs-12">

                <h2 class="subheading">Our Escape Rooms</h2>

                {{#each rooms}}

                    {{>roomBox room=this float=true showExcerpt=true showCTA=true}}

                {{/each}}

            </div>

        </div>

        <!-- TESTIMONIALS -->
        <div class="row">

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <h2 class="subheading">What Players Say</h2>

                <div class="testimonial">
                    <p class="testimonial-quote">"{{firstTestimonial}}"</p>
                    <p class="testimonial-author">-- {{firstCite}}</p>
                </div>

                <div class="testimonial">
                    <p class="testimonial-quote">"{{secondTestimonial}}"</p>
                    <p class="testimonial-author">-- {{secondCite}}</p>
                </div>

            </div>

        </div>


        <!-- MOST POPULAR -->
        <div class="row">

            <div class="col-xs-12 col-md-10 col-md-offset-1">

                <h2 class="subheading">Our Most Popular Room</h2>

                {{#with mostPopular}}

                    {{>roomBox room=this showDescription=true showSpecs=true showPrice=true showCTA=true showAvailabilityCTA=true size="large"}}

                {{/with}}

            </div>

        </div>


        <!-- MORE INFO -->
        <div class="row">

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <h2 class="subheading">More Info</h2>

                <p class="lead">Do you have questions about our escape games? Check out or <a href="{{pathFor 'faq'}}">frequently asked questions</a> or call us at <a href="tel:{{phone}}">{{phone}}</a>. You can also contact us by email at <a href="mailto:{{email}}">{{email}}</a>.</p>
                <p>&nbsp;</p>
                <p class="text-center">
                    <a href="{{pathFor 'rooms'}}" class="button">View All Our Rooms</a>
                    <a href="{{pathFor 'faq'}}" class="button button-unavailable">FAQ</a>
                    <a href="{{pathFor 'contact'}}" class="button button-unavailable">Contact Us</a>
                </p>

            </div>

        </div>
    </div>
</template>

<template name="roomBox">
    <a href="{{pathFor 'room' slug=room.slug}}">

        <div class="room-box room-box-bg-mad-scientist {{size}} {{#if float}}float{{/if}}" style="background-image: url({{room.image}})">

            <div class="room-box-overlay">

                <div class="ribbon-wrapper">

                    <div class="ribbon-wrapper-green">

                            {{#if room.available}}
                                {{#if room.ribbon}}
                                <div class="ribbon-green">
                                    {{room.ribbon}}
                                </div>
                                {{/if}}
                            {{else}}
                                <div class="ribbon-green">
                                    {{room.opening}}
                                </div>
                            {{/if}}

                    </div>

                </div>

                <div class="room-box-content">

                    <h2>{{room.title}}</h2>

                    {{#if showExcerpt}}
                        <p>
                            {{#if showOpeningDate}}
                                Opening {{humanReadableDate room.openingDate format="short"}} &bull; Book Now! &mdash;
                            {{/if}}
                            {{room.excerpt}}
                        </p>
                    {{/if}}

                    {{#if showDescription}}

                        <p>
                            {{#if showOpeningDate}}
                                Opening {{humanReadableDate room.openingDate format="short"}} &bull; Book Now! &mdash;
                            {{/if}}
                            {{room.description}}
                        </p>
                    {{/if}}

                    {{#if showSpecs}}
                        <div class="specs">
                            <i class="fa fa-users" aria-hidden="true" style=""></i>
                            <span class="spec-value" style="">{{room.minPlayers}} - {{room.maxPlayers}}</span><br>
                            <span class="spec-key" style="">Players</span>
                        </div>
                        <div class="specs">
                            <i class="fa fa-clock-o" aria-hidden="true" style=""></i>
                            <span class="spec-value" style="">{{room.duration}}</span><br>
                            <span class="spec-key" style="">Minutes</span>
                        </div>
                        <div class="specs {{#if showPrice}}specs-break{{/if}}">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <span class="spec-value" style="">{{dynamicSuccessRate}}%</span><br>
                            <span class="spec-key" style="">Success Rate</span>
                        </div>
                    {{/if}}

                    {{#if showPrice}}

                        <div class="specs">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                            <span class="spec-value" style="">{{room.priceRange}}</span><br>
                            <span class="spec-key" style="">Per Player</span>
                        </div>

                    {{/if}}


                    {{#if showCTA}}
                        {{#if showSpecs}}
                            <div style="height:34px; clear: both;"></div>
                        {{/if}}
                    <div class="room-box-cta">
                        <a href="{{pathFor 'room' slug}}" class="button">
                            {{#if showAvailabilityCTA}}
                                View Availability
                            {{else}}
                                {{#if room.available}}
                                    Room Info &amp; Schedule
                                {{else}}
                                    Room Info
                                {{/if}}
                            {{/if}}
                        </a>
                    </div>
                    {{/if}}

                </div>

            </div>

        </div>

    </a>
</template>