<template name="roomsCalendar">

    <!-- HERO BANNER -->
    <div class="hero" style="background-image: url({{calendarCover}});">
        <div class="overlay">
            <div class="content">
                <h1>Availability Calendar</h1>
                <p style="margin-bottom: 0">{{calendarIntro}}</p>
            </div>
        </div>
    </div>


    <!-- CONTENT -->
    <div class="container">

        <div class="row">

            <!-- IF DAYS ARRAY IS OK (IF NOT, IT'S PROBABLY A LATENCY OR PUBSUB ISSUE) -->
            {{#if day}}

                <!-- LOOP OVER DAYS -->
                {{#with day}}

                    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                        <!-- DATE -->
                        <h2 class="subheading">
                            <span class="prev-day">
                                <a href="#" hook="subtract-day">
                                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                </a>
                            </span>

                            {{humanReadableDate date}}
                            <span class="next-day">
                                <a href="#" hook="add-day">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                </a>
                            </span>

                        </h2>

                        <!-- LOOP OVER POSSIBLE TIME SLOTS -->
                        {{#each times}}

                            <!-- FOR EACH TIME SLOT, LOOP OVER ROOMS -->
                            {{#each rooms}}

                                <!-- IF GAME DATA IS AVAILABLE, IT MEANS WE HAVE RESERVATIONS OR THE TIME SLOTS WAS BLOCKED -->
                                {{#if game}}


                                    {{#with game}}

                                        <!-- DISPLAY NUMBER OF SPOTS LEFT -->
                                        {{#if this.spotsLeft}}
                                        <a  hook="set-time" hook-data="{{time}}" href="{{pathFor 'roomByDate' slug=../slug date=date}}" style="text-decoration: none">
                                            <div class="label label-info" style="font-weight: normal; text-align: left; margin-bottom: 5px; font-size: 12px; line-height: 12px; position:relative; bottom: 1px; display: block; padding: 9px 10px 10px;">
                                                {{time}} &nbsp;&bull;&nbsp; {{roomTitle roomId}} &nbsp;&bull;&nbsp; {{this.spotsLeft}} Spots left
                                            </div>
                                        </a>
                                        <!-- OR DISPLAY SOLD OUT -->
                                        {{else}}
                                            <div class="label label-danger" style="font-weight: normal; text-align: left; margin-bottom: 5px; font-size: 12px; line-height: 12px; position:relative; bottom: 1px; display: block; padding: 9px 10px 10px">
                                                {{time}} &nbsp;&bull;&nbsp; {{roomTitle roomId}} &nbsp;&bull;&nbsp; Sold Out
                                            </div>
                                        {{/if}}

                                    {{/with}}

                                <!-- NO GAME DATA MEANS TIME SLOT HAS NEVER BEEN BOOKED OR SLOT -->
                                {{else}}
                                    <a  hook="set-time" hook-data="{{../time}}" href="{{pathFor 'roomByDate' slug=slug date=../../date}}" style="text-decoration: none">
                                        <div class="label label-success" style="text-align: left; margin-bottom: 5px; font-size: 12px; line-height: 12px; position:relative; bottom: 1px; display: block; padding: 9px 10px 10px">
                                            {{../time}} &nbsp;&bull;&nbsp; {{title}} &nbsp;&bull;&nbsp; Book Now
                                        </div>
                                    </a>
                                {{/if}}

                            {{/each}}

                        {{/each}}
                    </div>
                {{/with}}

                <h2 class="subheading" style="clear: both; padding-top: 70px;">Advance Bookings &amp; Large Groups</h2>
                <p class="text-center">
                    To book more than a week in advance, go to the <a href="{{pathFor 'rooms'}}">rooms</a> page.
                </p>
                <p class="text-center">
                    For groups of 7 or more players, please <a href="{{pathFor 'contact'}}">contact us</a>.
                </p>

            {{else}}

                <!-- TODO: FIX THIS, IT NEVER SHOWS UP; THE PAGE JUST FREEZES UNTIL DATA IS RENDERED? -->
                <h2 class="subheading">


                    Loading...


                </h2>

                <div class="text-center" style="margin-bottom: 1000px">
                    <img src="/images/loading.gif">
                </div>
            {{/if}}

        </div>

    </div>

</template>