<template name="roomsCalendar">

    <!-- HERO BANNER -->
    <div class="hero" style="background-image: url({{calendarCover}});">
        <div class="overlay">
            <div class="content">
                <h1>Availability Calendar</h1>
                <p style="margin-bottom: 0">{{calendarIntro}}</p>
            </div>
        </div>
    </div>


    <!-- CONTENT -->
    <div class="container">

        <div class="row">

            <!-- IF DAYS ARRAY IS OK (IF NOT, IT'S PROBABLY A LATENCY OR PUBSUB ISSUE) -->
            {{#if day}}

                <!-- LOOP OVER DAYS -->
                {{#with day}}

                    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                        <!-- DATE -->
                        <h2 class="subheading">
                            <span class="prev-day">
                                <a href="#" hook="subtract-day">
                                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                </a>
                            </span>

                            {{humanReadableDate date}}
                            <span class="next-day">
                                <a href="#" hook="add-day">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                </a>
                            </span>

                        </h2>

                        <!-- LOOP OVER POSSIBLE TIME SLOTS -->
                        {{#if games}}
                            {{#each games}}



                                <!-- DISPLAY NUMBER OF SPOTS LEFT -->
                                {{#if canBeBooked this}}

                                    {{#if canChooseRoom roomId}}
                                        {{#each roomChoices gameId=_id}}

                                            <a  hook="set-time" hook-data-time="{{../time}}" hook-data-date="{{../date}}" hook-data-room-id="{{_id}}" href="#" style="text-decoration: none">
                                                <div class="label label-info label-time-green" style="font-weight: normal; text-align: left; margin-bottom: 5px; font-size: 12px; line-height: 12px; position:relative; bottom: 1px; display: block; padding: 9px 10px 10px;">
                                                    {{../time}} &nbsp;&bull;&nbsp;
                                                    {{roomTitle _id}} &nbsp;&bull;&nbsp;
                                                    Up to {{maxPlayers}} Players

                                                </div>
                                            </a>


                                            <!--{{roomTitle _id}} &bull; {{maxPlayers}} Spots left-->
                                        {{/each}}
                                    {{else}}
                                        <a  hook="set-time" hook-data-time="{{time}}" hook-data-date="{{date}}" hook-data-room-id="{{roomId}}" href="#" style="text-decoration: none">
                                            <div class="label label-info label-time-green" style="font-weight: normal; text-align: left; margin-bottom: 5px; font-size: 12px; line-height: 12px; position:relative; bottom: 1px; display: block; padding: 9px 10px 10px;">
                                                {{time}} &nbsp;&bull;&nbsp;
                                                {{roomTitle roomId}} &nbsp;&bull;&nbsp;
                                                Up to {{calculateSpotsLeft this}} Players

                                            </div>
                                        </a>
                                    {{/if}}

                                <!-- OR DISPLAY SOLD OUT -->
                                {{else}}
                                    <div class="label label-danger" style="font-weight: normal; text-align: left; margin-bottom: 5px; font-size: 12px; line-height: 12px; position:relative; bottom: 1px; display: block; padding: 9px 10px 10px">
                                        {{time}} &nbsp;&bull;&nbsp; {{roomTitle roomId}} &nbsp;&bull;&nbsp; Sold Out
                                    </div>
                                {{/if}}





                            {{/each}}
                        {{else}}
                            <p class="text-center">No games scheduled for this day.</p>
                        {{/if}}
                    </div>
                {{/with}}

                <h2 class="subheading" style="clear: both; padding-top: 70px;">Advance Bookings &amp; Large Groups</h2>
                <p class="text-center">
                    Do you want to make a reservation for a day that has no scheduled games? <a href="{{pathFor 'contact'}}">Call us</a> -- we can schedule something for you.
                </p>
                <p class="text-center">
                    For groups of 9 or more players, please <a href="{{pathFor 'contact'}}">contact us</a>.
                </p>

            {{else}}

                <!-- TODO: FIX THIS, IT NEVER SHOWS UP; THE PAGE JUST FREEZES UNTIL DATA IS RENDERED? -->
                <h2 class="subheading">


                    Loading...


                </h2>

                <div class="text-center" style="margin-bottom: 1000px">
                    <img src="/images/loading.gif">
                </div>
            {{/if}}

        </div>

    </div>

</template>