<template name="tikiCountdown">



    <div style="position: absolute; z-index: 9999; top: 20px; left: 145px; color: white; font-family: Courier;">
        <span style="font-size: 60px;">03</span>
        <br>
        <span style="font-size: 40px;">Tiki Island<br>Visitor Channel</span>
    </div>
    <div style="text-align: center; padding-top:10px; position: relative;">

        <video width="1000" controls loop autoplay="true">
            <source src="/videos/ritual.mp4" type="video/mp4">
        </video>

    </div>

    <div style="position:fixed; bottom: 0; left: 0; width: 100%; background: red; color: white; font-size: 40px; font-family: Courier; padding: 30px; text-align: center"> !!! TIKI ISLAND EMERGENCY SYSTEM !!!<br><span id="news">VOLCANIC ERUPTION IMMINENT</span><br>EVACUATION IN <span id="countdown">0:00</span></div>


</template>