<template name="adminGamesCalendarGame">
    <div class="admin-games-calendar-game {{#if hasReservations this}}has-reservations{{/if}} {{#if canBeBooked this}}can-be-booked{{/if}} {{#if blocked}}blocked{{/if}} ">
        <span class="game-time">{{time}}</span><br>
        Room: <b>{{roomTitle roomId}}</b><br>
        Game Master: <b>{{gameMasterName userId}}</b><br>
        {{calculateNbPlayers this}} Players &bull; {{calculateNbKamaaina this}} Kama'aina

        {{#if blocked}}
            <span class="label label-danger">BLOCKED</span>
        {{/if}}
        <br>
        <a href="#" hook="edit-game" hook-data-game-id="{{_id}}" class="action-link">Manage</a>
        <span style="color:#40576f;">&bull;</span>
        <a href="{{pathFor 'gamePlay' _id=_id}}" class="action-link">Play</a>


        {{#unless hasReservations this}}
            {{#unless blocked}}
                <span style="color:#40576f;">&bull;</span> <a href="#" hook="block" class="action-link">Block</a>
            {{/unless}}
        {{/unless}}
        {{#if blocked}}
            <span style="color:#40576f;">&bull;</span> <a href="#" hook="unblock" class="action-link">Unblock</a>
        {{/if}}
        {{#if eq v1=currentUser._id v2="LgZ6PWa83zq4k5PTt"}}
            {{#unless hasReservations this}}
                <span style="color:#40576f;">&bull;</span>
                <a href="#" hook="remove-game" class="action-link">Delete</a>
            {{/unless}}
        {{/if}}
        <br>
        {{#if couponUsed}}
            <span class="label label-success coupon-code">{{couponUsed}}</span>
        {{else}}
            <span class="label label-default">no coupon</span>
        {{/if}}

        {{#if source}}
            <span class="label label-success" title="{{source}}">{{truncate string=source maxLength=30}}</span>
        {{else}}
            <span class="label label-default">no source</span>
        {{/if}}

        {{#if notes}}
            <span class="label label-warning" title="{{notes}}">Notes</span>
        {{/if}}
    </div>
</template>
