<template name="calendarFormAddGame">
    <div class="calendarFormContainer">
        <div class="calendar-form-background" hook="calendar-form-background"></div>
        <form hook="add-game-form" class="calendarForm">
            <div class="calendar-form-close" hook="calendar-form-close">CLOSE</div>
            <h2 class="subheading" style="margin-top: 0">Add game</h2>
            <div class="form-group">
                <label>Game Master</label>
                <select name="userId" class="form-control">
                    <option value="RpiLtn28nLk9rHarH">ANY LOCATION</option>

                    {{#each gameMasters}}

                            <option value="{{_id}}">{{username}}</option>

                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Room</label>
                <select name="roomId" class="form-control">
                    <option value="any">ANY ROOM</option>
                    {{#each rooms}}
                        <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="text" disabled name="date" class="form-control" value="{{this.date}}">
            </div>
            <div class="form-group">
                <label>Time</label>
                <select name="time" class="form-control">
                    <option value="0">---</option>
                    <option>10:45am</option>
                    <option>12:45pm</option>
                    <option>2:45pm</option>
                    <option>4:45pm</option>
                    <option>6:45pm</option>
                    <option>8:45pm</option>
                    {{#each allTimes}}
                        <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <input type="submit" value="Add Game" class="btn btn-block button">
        </form>
    </div>
</template>