<template name="adminGamesCalendar">

    <div class="hero" style="background-image: url({{aboutCover}});">
        <div class="overlay">
            <div class="content">
                <h1>Games</h1>

            </div>
        </div>
    </div>

    {{#if currentUser}}

        <div style="padding: 20px 15px 5px;">
            <!-- CALENDAR DATE NAV -->
            <div class="admin-games-calendar-nav">
                <a href="#" hook="prev-games" class="prev-games"><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</a>
                <input type="text" hook="jump-to-date-datepicker" class="jump-to-date-datepicker" value="{{firstDay}}">
                <a href="#" hook="next-games" class="next-games">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </div>

            <div>
                <small><a href="#" hook="load-past-games">Load past games</a></small>
            </div>
        </div>

        <!-- CALENDAR -->
        <div class="admin-games-calendar">

            <!-- LOOP OVER DAYS -->
            {{#each days}}

                <!-- DATE: {{this}} -->
                {{>adminGamesCalendarDay date=this}}

            {{/each}}
        </div>
    {{else}}
        <div class="container marketing">
            Admins only
        </div>
    {{/if}}
</template>
