<!-- ABOUT PAGE -->
<template name="about">
    <div class="hero" style="background-image: url({{aboutCover}});">
        <div class="overlay">
            <div class="content">
                <h1>About Us</h1>

            </div>
        </div>
    </div>

    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <p style=" font-size: 22px; padding: 50px 15px 0">{{aboutDescription}}</p>
                <p style=" font-size: 22px; padding: 20px 15px 0">Photo: <a href="https://www.mojofotoco.com/">MojoFoto Co</a> </p>
            </div>
        </div>
    </div>
</template>
