<!-- CONTACT PAGE -->
<template name="contact">
    <div class="hero" style="background-image: url({{contactCover}});">
        <div class="overlay">
            <div class="content">
                <h1>Contact Us</h1>
                <p style="margin-bottom: 0"></p>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <p style=" font-size: 22px; padding: 50px 15px 0">
                    You can call us to ask questions or book over the phone at <a href="tel:18086356957">{{phone}}</a>; you can also <a href="{{pathFor 'rooms'}}">book online</a>; for other inquiries email us at <a href="mailto:{{email}}">{{email}}</a>. We are located at <a target="_blank" href="{{gMapDirections}}">{{address}}</a>
                </p>
            </div>
        </div>
    </div>

</template>
