<!-- DIRECTIONS PAGE -->
<template name="directions">

    <div class="hero" style="background-image: url({{directionsCover}});">
        <div class="overlay">
            <div class="content">
                <h1>Directions</h1>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <p style=" font-size: 22px; padding: 50px 15px 0">
                    We are located at {{address}}.<br><a target="_blank" href="{{gMapDirections}}">View and get directions on Google Maps &rarr;</a>
                </p>
                <p style=" font-size: 22px; padding: 20px 15px 0">Photo: <a href="https://www.mojofotoco.com/">MojoFoto Co</a> </p>

            </div>
        </div>
    </div>

</template>
