<template name="room">

    <!-- HERO BANNER -->
    <div class="hero hero-home-bg" style="background-image: url({{room.image}});">
        <div class="overlay">
            <div class="content">
                <h1 style="margin: 0 0 20px">{{room.title}}</h1>
                <p style="width: 100%; max-width: 600px; margin: 0 0 20px;">{{room.description}}</p>
                <p style="width: 100%; max-width: 100%; margin: 0;">
                <div class="specs">
                    <i class="fa fa-users" aria-hidden="true" style=""></i>
                    <span class="spec-value" style="">{{room.minPlayers}} - {{room.maxPlayers}}</span><br>
                    <span class="spec-key" style="">Players</span>
                </div>
                <div class="specs">
                    <i class="fa fa-clock-o" aria-hidden="true" style=""></i>
                    <span class="spec-value" style="">{{room.duration}}</span><br>
                    <span class="spec-key" style="">Minutes</span>
                </div>
                <div class="specs" style="width: 160px">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <span class="spec-value" style="">{{dynamicSuccessRate}}%</span><br>
                    <span class="spec-key" style="">Success Rate</span>
                </div>
                <div class="specs">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <span class="spec-value" style="">{{room.priceRange}}</span><br>
                    <span class="spec-key" style="">Per Player</span>
                </div>
                </p>
            </div>
        </div>
    </div>



    <!-- CONTENT -->
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-8">

                <!-- TITLE MAY CHANGE DEPENDING ON GAME AVAILABILITY -->
                <h3 id="booknow" class="subheading">
                    {{#if room.available}}
                        Book Now &nbsp;&bull;&nbsp; {{room.title}}
                    {{else}}
                        {{#if room.retired}}
                            Retired
                        {{else}}
                            Coming Soon
                        {{/if}}
                    {{/if}}
                </h3>

                {{#if room.available}}



                <!-- BOOKING FORM -->



                <form class="room-booking-form" hook="reservation-form">

                    <div class="row" id="form-fields-row">




                        <!-- DATE SELECTION -->
                        <div class="col-xs-12 col-md-6 {{#unless room.available}}hidden{{/unless}}">

                            <label for="Date" style="margin-bottom: 10px;">Select date <span class="label label-success pull-right" style="font-size: 14px; position: relative; top: 1px; background-color: #007300">{{humanReadableDate game.date format='shortWithDay'}}</span></label>

                            <!-- DATEPICKER; HIDDEN IF DATE & TIME ALREADY SELECTED BY USER -->
                            <div id="datepicker" class="datepicker-full-width {{#if game.time}}hidden{{/if}}"></div>

                        </div>

                        <!-- TIME SELECTION -->
                        <div class="col-xs-12 col-md-6">

                            <label>
                                Select time
                                {{#if game.time}}
                                    <span class="label label-success pull-right" style="font-size: 14px; position: relative; top: 1px; background-color: #007300">
                                        {{game.time}}
                                    </span>
                                {{/if}}
                            </label>

                            {{#unless game.time}}
                                <div id="times">

                                        {{#if games}}
                                            {{#each games}}
                                                {{#if canBeBooked this}}
                                                    <!--{{#if isGMTrained game=this room=../room}}-->

                                                    <a href="#" hook="set-time" hook-data="{{time}}" class="label label-time label-time-green">{{time}} &nbsp;&bull;&nbsp; Available</a>

                                                    <!--{{else}}-->



                                                    <!--{{/if}}-->

                                                {{else}}
                                                    <span class="label label-time label-time-red">{{time}} &nbsp;&bull;&nbsp; Sold Out</span>
                                                {{/if}}
                                            {{/each}}
                                        {{else}}
                                            <p style="font-weight: bold;">No games scheduled for this date.</p>

                                        {{/if}}

                                    {{#with settings}}
                                        <p class="call-us">
                                            Looking for a date and time that is sold out or not available? Call or text us at <a href="tel:18086356957">{{phone}}</a> - we can often accomodate you.
                                        </p>
                                    {{/with}}
                                        <!--LOADING AVAILABLE GAMES ...-->
                                        <!--<img src="/images/loading.gif">-->

                                </div>
                            {{/unless}}
                        </div>



                        {{#if game.time}}
                            <div class="col-xs-12">

                                <p style="text-align: center; margin-bottom: 25px;">
                                    <a href="#" hook="set-time" hook-data="" style="display: block; background-color: #ddd; padding: 8px 12px 12px; text-decoration: none">
                                        <span style="font-size: 12px; font-weight: normal; color: #666; font-weight: bold">{{humanReadableDate game.date}} @ {{game.time}}</span><br>
                                        <span style="font-size: 12px; font-weight: normal; color: #cc0000;  text-decoration: underline; ">Change Date &amp; Time Choice</span>
                                    </a>
                                </p>

                                <!-- PLAYER PRICING AND NB OF PLAYERS -->

                                <div class="form-group">
                                    <label for="nbPlayers">Select number of players</label>

                                    <select class="form-control" hook="update-players" id="nbPlayers" name="nbPlayers" style="width: 100%; max-width: 100%;">
                                        <option value="0"> NUMBER OF PLAYERS </option>
                                        <!--{{#each nbPlayersOptions room=room game=game}}-->
                                            <!--<option value="{{this}}" {{selected this userSelections.nbPlayers}}>{{this}} players </option>-->
                                        <!--{{/each}}-->
                                        <option value="2" {{selected 2 userSelections.nbPlayers}}>2 Players @ $42 / player</option>
                                        <option value="3" {{selected 3 userSelections.nbPlayers}}>3 Players @ $38 / player</option>
                                        <option value="4" {{selected 4 userSelections.nbPlayers}}>4 Players @ $35 / player</option>
                                        <option value="5" {{selected 5 userSelections.nbPlayers}}>5 Players @ $33 / player</option>
                                        <option value="6" {{selected 6 userSelections.nbPlayers}}>6 Players @ $33 / player</option>
                                        {{#if gte n1=room.maxPlayers n2=7}}
                                            <option value="7" {{selected 7 userSelections.nbPlayers}}>7 Players @ $33 / player</option>
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=8}}
                                            <option value="8" {{selected 8 userSelections.nbPlayers}}>8 Players @ $33 / player</option>
                                        {{/if}}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="nbKamaaina">Kama'aina Discount</label>
                                    <p>How many Hawai'i residents in your party? Hawai'i residents each get $3 off. HAWAII ID REQUIRED.</p>
                                    <select class="form-control" hook="update-reservation" id="nbKamaaina" name="nbKamaaina" style="width: 100%">
                                        <option value="0"> SELECT NUMBER OF HAWAII RESIDENTS </option>
                                        <!--{{#each kamaainaPlayersOptions}}-->
                                            <!--<option value="{{this}}" {{selected this userSelections.nbKamaaina}}>{{this}}</option>-->
                                        <!--{{/each}}-->
                                        <option value="0">0</option>
                                        {{#if gte n1=room.maxPlayers n2=1}}
                                            {{#if gte n1=userSelections.nbPlayers n2=1}}
                                                <option value="1" {{selected 1 userSelections.nbKamaaina}}>1</option>
                                            {{/if}}
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=2}}
                                            {{#if gte n1=userSelections.nbPlayers n2=2}}
                                                <option value="2" {{selected 2 userSelections.nbKamaaina}}>2</option>
                                            {{/if}}
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=3}}
                                            {{#if gte n1=userSelections.nbPlayers n2=3}}
                                                <option value="3" {{selected 3 userSelections.nbKamaaina}}>3</option>
                                            {{/if}}
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=4}}
                                            {{#if gte n1=userSelections.nbPlayers n2=4}}
                                                <option value="4" {{selected 4 userSelections.nbKamaaina}}>4</option>
                                            {{/if}}
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=5}}
                                            {{#if gte n1=userSelections.nbPlayers n2=5}}
                                                <option value="5" {{selected 5 userSelections.nbKamaaina}}>5</option>
                                            {{/if}}
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=6}}
                                            {{#if gte n1=userSelections.nbPlayers n2=6}}
                                                <option value="6" {{selected 6 userSelections.nbKamaaina}}>6</option>
                                            {{/if}}
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=7}}
                                            {{#if gte n1=userSelections.nbPlayers n2=7}}
                                                <option value="7" {{selected 7 userSelections.nbKamaaina}}>7</option>
                                            {{/if}}
                                        {{/if}}
                                        {{#if gte n1=room.maxPlayers n2=8}}
                                            {{#if gte n1=userSelections.nbPlayers n2=8}}
                                                <option value="8" {{selected 8 userSelections.nbKamaaina}}>8</option>
                                            {{/if}}
                                        {{/if}}
                                    </select>
                                </div>


                                <!-- FIRST NAME -->
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" hook="update-reservation" class="form-control" id="firstName" name="firstName" value="{{reservation.firstName}}">
                                </div>

                                <!-- LAST NAME -->
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" hook="update-reservation" class="form-control" id="lastName" name="lastName" value="{{reservation.lastName}}">
                                </div>

                                <!-- EMAIL -->
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" hook="update-reservation" class="form-control" id="email" name="email" value="{{reservation.email}}">
                                </div>

                                <!-- PHONE -->
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" hook="update-reservation" class="form-control" id="phone" name="phone" value="{{reservation.phone}}">
                                </div>

                                <!-- COUPON CODE -->
                                <div class="form-group">
                                    <label for="coupon">Gift Certificate / Coupon Code</label>
                                    <p>If you have a coupon code, enter it here. Coupon codes cannot be combined with the Kama'aina discount.</p>
                                    <input type="text" hook="update-coupon" class="form-control" id="coupon" name="coupon" value="{{reservation.coupon}}">
                                    {{#if reservation.coupon}}
                                        <span class="label label-success">Your gift card or coupon will be applied at check-in. Please bring it with you.</span>
                                        <!--{{#if reservation.discount}}-->
                                            <!--<span class="label label-success">Coupon applied</span>-->
                                        <!--{{else}}-->
                                            <!--<span class="label label-danger">Enter valid coupon code</span>-->
                                        <!--{{/if}}-->
                                    {{/if}}
                                </div>



                                <!-- SOURCE TRACKING -->
                                <div class="form-group">
                                    <label for="source">How did you hear about us?</label>
                                    <input type="text" hook="update-reservation" class="form-control" id="source" name="source" value="{{reservation.source}}">
                                </div>




                            <!-- REVIEW ORDER -->

                            {{#if gte n1=userSelections.nbPlayers n2=0}}

                            <label for="subtotal">Review Order</label>
                            <table class="table table-striped table-bordered table-responsive">
                                <tbody>

                                <!-- NB PLAYERS / TIME / DATE -->
                                <tr>
                                    <th colspan="2" style="font-size: 1.4em">
                                        <span class="label label-success" style="position: relative; bottom: 3px; background-color: #007300">{{reservation.nbPlayers}} players</span>
                                        <span class="label label-success" style="position: relative; bottom: 3px; background-color: #007300">{{humanReadableDate game.date}}</span>
                                        <span class="label label-success" style="position: relative; bottom: 3px; background-color: #007300">{{game.time}}</span>
                                    </th>
                                </tr>

                                <!-- COST OF PLAYERS -->
                                <tr>
                                    <td>{{reservation.nbPlayers}} Players</td>
                                    <td class="currency">{{toCurrency reservation.costOfPlayers}}</td>
                                </tr>



                                <!-- SUBTOTAL BEFORE DISCOUNTS AND TAXES -->
                                <tr style="font-weight:bold;">
                                    <td>Subtotal</td>
                                    <td class="currency">{{toCurrency reservation.subtotal}}</td>
                                </tr>

                                <!-- DISCOUNT FROM KAMAAINA -->
                                {{#if reservation.discountKamaaina}}
                                    <tr>
                                        <td class="discount">Kama'aina Discount &nbsp;&bull;&nbsp; {{reservation.nbKamaaina}} residents &nbsp;&times;&nbsp; &mdash; {{toCurrency room.kamaainaDiscountPerPlayer}}</td>
                                        <td class="currency discount">&mdash; {{toCurrency reservation.discountKamaaina}}</td>
                                    </tr>
                                {{/if}}


                                <!-- DISCOUNT FROM COUPON CODE -->
                                {{#if reservation.discount}}
                                    <tr>
                                        {{#if reservation.couponData.type}}
                                            <td class="discount text-uppercase">Coupon "{{reservation.couponData.coupon}}" &nbsp;&bull;&nbsp; ${{reservation.couponData.discount}} OFF</td>
                                        {{else}}
                                            <td class="discount text-uppercase">Coupon "{{reservation.couponData.coupon}}" &nbsp;&bull;&nbsp; {{reservation.couponData.discount}}% OFF</td>
                                        {{/if}}
                                        <td class="currency discount">&mdash; {{toCurrency reservation.discount}}</td>
                                    </tr>
                                {{/if}}
                                <!-- TAXES -->
                                <tr>
                                    <td>Taxes</td>
                                    <td class="currency">{{toCurrency reservation.taxes}}</td>
                                </tr>

                                <!-- TOTAL -->
                                <tr style="font-size: 18px;">
                                    <th>TOTAL</th>
                                    <th class="currency">{{toCurrency reservation.total}}</th>
                                </tr>

                                </tbody>
                            </table>


                            <!--<div class="form-group col-xs-6 text-center" style="background: #ddd; border-right:5px solid #eee; margin-bottom: 10px;">-->
                                <!--<label style="text-align: center; border: none; padding: 15px;">-->
                                    <!--<input checked hook="update-reservation" type="radio" class="form-control" name="pay" value="now" style="border:none; box-shadow: none; margin: 0 auto; width:20px; margin-bottom: 5px;">-->
                                    <!--Pay Now-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="form-group col-xs-6" style="background: #ddd; border-left:5px solid #eee; margin-bottom: 10px;">-->
                                <!--<label style="text-align: center; border: none; padding: 15px;">-->
                                    <!--<input hook="update-reservation" type="radio" class="form-control" name="pay" value="check-in" style="border:none; box-shadow: none; margin: 0 auto; width:20px;  margin-bottom: 5px;">-->
                                    <!--Pay At Check-In-->
                                <!--</label>-->
                            <!--</div>-->

                                <div class="row" style="margin-bottom: 5px;">

                                    <!-- CREDIT CARD NUMBER -->
                                    <div class="form-group col-xs-12" style="margin-bottom: 15px">
                                        <div style="font-size: 16px; background: #944e21; color: #FFF; padding: 15px 20px 5px 20px;">
                                            <p>
                                                Your credit card will <b>*** NOT ***</b> be charged today.
                                            </p>
                                            <p>
                                                Your card will only be charged if you cancel within 72 hours of your scheduled game time.
                                            </p>

                                        </div>
                                    </div>

                                </div>
                            <!---->
                            <!--{{#if eq v1=userSelections.pay v2="check-in"}}-->
                                <!--<div class="row" style="margin-bottom: 5px;">-->

                                    <!--&lt;!&ndash; CREDIT CARD NUMBER &ndash;&gt;-->
                                    <!--<div class="form-group col-xs-12">-->
                                        <!--<div style="font-size: 16px; background: #944e21; color: #FFF; padding: 15px 20px 5px 20px;">-->
                                            <!--<p>-->
                                                <!--Your credit card will <b>*** NOT ***</b> be charged today.-->
                                            <!--</p>-->
                                            <!--<p>-->
                                                <!--Your card will only be charged if you cancel within 72 hours of your scheduled game time.-->
                                            <!--</p>-->

                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--{{else}}-->

                                <!--<div class="form-group col-xs-12">-->
                                    <!--<div style="font-size: 16px; background: #944e21; color: #FFF; padding: 15px 20px 5px 20px;">-->
                                        <!--<p>-->
                                            <!--Your credit card will be charged today.-->
                                        <!--</p>-->
                                        <!--<p>-->
                                            <!--You can cancel up to 72 hours before your game for a full refund. Cancellation made withing 72 hours of the game time are not refundable.-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->


                            <!--{{/if}}-->














                            <!-- CREDIT CARD FOR; IF TOTAL > 0 -->
                            <!--{{#unless isFree}}-->
                                <!--<div class="row" style="padding-top: 10px; clear: both;">-->

                                    <!--&lt;!&ndash; CREDIT CARD NUMBER &ndash;&gt;-->
                                    <!--<div class="form-group col-xs-12 col-md-6">-->
                                        <!--<label for="cc">Credit Card Number</label>-->
                                        <!--<input type="text" hook="update-reservation" class="form-control" id="cc" name="cc" value="{{reservation.cc}}">-->
                                    <!--</div>-->

                                    <!--&lt;!&ndash; EXPIRATION &ndash;&gt;-->
                                    <!--<div class="form-group col-xs-8 col-md-4">-->

                                        <!--<label for="ccExpMonth">Expiration</label>-->

                                        <!--<div class="row">-->
                                            <!--<div class="col-xs-6">-->
                                                <!--<select hook="update-reservation" class="form-control col-xs-6" id="ccExpMonth" name="ccExpMonth">-->
                                                    <!--<option value="">Month</option>-->
                                                    <!--<option value="01" {{selected reservation.ccExpMonth '01'}}>01 - January</option>-->
                                                    <!--<option value="02" {{selected reservation.ccExpMonth '02'}}>02 - February</option>-->
                                                    <!--<option value="03" {{selected reservation.ccExpMonth '03'}}>03 - March</option>-->
                                                    <!--<option value="04" {{selected reservation.ccExpMonth '04'}}>04 - April</option>-->
                                                    <!--<option value="05" {{selected reservation.ccExpMonth '05'}}>05 - May</option>-->
                                                    <!--<option value="06" {{selected reservation.ccExpMonth '06'}}>06 - June</option>-->
                                                    <!--<option value="07" {{selected reservation.ccExpMonth '07'}}>07 - July</option>-->
                                                    <!--<option value="08" {{selected reservation.ccExpMonth '08'}}>08 - August</option>-->
                                                    <!--<option value="09" {{selected reservation.ccExpMonth '09'}}>09 - September</option>-->
                                                    <!--<option value="10" {{selected reservation.ccExpMonth '10'}}>10 - October</option>-->
                                                    <!--<option value="11" {{selected reservation.ccExpMonth '11'}}>11 - November</option>-->
                                                    <!--<option value="12" {{selected reservation.ccExpMonth '12'}}>12 - December</option>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                            <!--<div class="col-xs-6">-->
                                                <!--<select hook="update-reservation" class="form-control col-xs-6" id="ccExpYear" name="ccExpYear">-->
                                                    <!--<option value="">Year</option>-->
                                                    <!--{{#each years}}-->
                                                        <!--<option value="{{this}}" {{selected userSelections.ccExpYear this}}>{{this}}</option>-->
                                                    <!--{{/each}}-->
                                                <!--</select>-->
                                            <!--</div>-->

                                        <!--</div>-->

                                    <!--</div>-->

                                    <!--&lt;!&ndash; CREDIT CARD VERIFICATION NUMBER &ndash;&gt;-->
                                    <!--<div class="form-group col-xs-4 col-md-2">-->
                                        <!--<label for="cvv">CVV <a href="#"  data-toggle="modal" data-target="#myModal" hook="show-cvv-explainer" class="label label-info pull-right" style="color: #FFF; position: relative; top: 2px; text-decoration: none">?</a></label>-->
                                        <!--<input type="text" hook="update-reservation" class="form-control" id="cvv" name="cvv" value="{{reservation.cvv}}">-->
                                    <!--</div>-->

                                    <!-- MODAL; EXPLAINER OF WHAT CVV IS -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">CVV</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>CVV is a credit card verification number. You can find it on your credit card:</p>
                                                    <img src="/images/cvv-explainer.png" style="width: 100%; max-width: 300px">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default button" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <!--</div>-->
                            <!--{{/unless}}-->

                            <!-- KACHING! -->
                            <!--<input type="submit" hook="checkout" class="button btn-block button-available text-center" value="Complete Order">-->

                                <input type="hidden" name="nonce" hook="nonce" value="{{nonce}}">
                           {{/if}}
                            </div>
                        {{/if}}



                    </div> <!-- #form-fields-row -->

                </form>

                <div class="row">
                    <div class="form-group col-xs-12" style="margin-bottom: 0; {{#unless game.time}}visibility:hidden;{{/unless}}{{#unless gte n1=userSelections.nbPlayers n2=0}}visibility:hidden;{{/unless}}">
                        <div class="square-payment-container"  style="padding: 0 30px 25px; background: #f0f0f0">
                            <div id="sq-ccbox">
                                <!--
                                  You should replace the action attribute of the form with the path of
                                  the URL you want to POST the nonce to (for example, "/process-card")
                                -->
                                <form id="nonce-form" novalidate action="#" method="post">
                                    <!--Pay with a Credit Card-->
                                    <table style="width: 100%">
                                        <tbody>
                                        <tr>
                                            <td>Card Number:</td>
                                            <td><div id="sq-card-number"></div></td>
                                        </tr>
                                        <tr>
                                            <td>CVV: <a href="#"  data-toggle="modal" data-target="#myModal" hook="show-cvv-explainer" class="label label-info" style="color: #FFF; position: relative; top: 2px; text-decoration: none">?</a></td>
                                            <td><div id="sq-cvv"></div></td>
                                        </tr>
                                        <tr>
                                            <td>Expiration Date: </td>
                                            <td><div id="sq-expiration-date"></div></td>
                                        </tr>
                                        <tr>
                                            <td>Zip/Postal Code:</td>
                                            <td><div id="sq-postal-code"></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button id="sq-creditcard" class="button btn-block button-available text-center button-credit-card" style="margin-top: 15px">
                                                    Complete Order
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--
                                      After a nonce is generated it will be assigned to this hidden input field.
                                    -->
                                    <input type="hidden" id="card-nonce" name="nonce">
                                </form>
                            </div>
                        </div>
                        <div id="sq-walletbox" style="display: none;">
                            <!--Pay with a Digital Wallet-->
                            <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
                            <!-- Placeholder for Apple Pay for Web button -->
                            <button id="sq-apple-pay" class="button-apple-pay"></button>

                            <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
                            <!-- Placeholder for Masterpass button -->
                            <button id="sq-masterpass" class="button-masterpass"></button>
                        </div>
                    </div>

                </div>

                    <!-- SECURE PADLOCK AND CREDIT CARD LOGOS BELOW FORM -->
                <div class="text-center">
                    <img src="/images/secure2.jpeg" style="margin-top: 20px; width: 100%; max-width: 200px; padding-bottom: 20px;">
                </div>

                {{else}}
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                    <form action="//escaperoomkauai.us13.list-manage.com/subscribe/post?u=2653aee4fbfd050c5eb64631b&id=2381bdabff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        {{#if room.retired}}
                    <p class="lead">This room is no longer available. It had a good run but it has now been decomissioned to make way for other games. You can make a reservation for <a href="{{pathFor 'room' slug='tiki-lounge'}}">Curse of the Tiki Lounge</a>, which is our favorite game, or check out our <a href="{{pathFor 'rooms'}}">rooms</a> page for more info. You can also sign up for our newsletter to be notified of new games opening at Kauai Escape Room.</p>
                        {{else}}
                    <p class="lead"><strong>{{room.opening}}</strong>. In the meantime, you can make a reservation for <a href="{{pathFor 'room' slug='tiki-lounge'}}">Curse of the Tiki Lounge</a>, which is our favorite game, or check out our <a href="{{pathFor 'rooms'}}">rooms</a> page for more info. You can also sign up for our newsletter to be notified of new games opening at Kauai Escape Room.</p>
                        {{/if}}
                    <div class="mc-field-group form-group">
                    <label for="mce-EMAIL">Email Address </label>
                    <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group form-group">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                    </div>
                    <div class="mc-field-group form-group">
                    <label for="mce-LNAME">Last Name </label>
                    <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                    </div>
                    <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_39a2a8b95a361766451ab131e_cd90eebeec" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Sign Up For A Notification" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                    </form>
                    </div>
                    <!--End mc_embed_signup-->
                {{/if}}
            </div>

            <!-- TESTIMONIALS -->
            <div class="col-xs-12 col-md-4 col-xs-12" style="padding-top: 140px;">


                    <div class="video-padding" style="padding-top: 5px;">
                        <div class="video-responsive">
                        {{#if isLostContinent}}
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ZwqqpGQUU9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {{else}}
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/jikM5M3kJxc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {{/if}}
                            </div>
                    </div>


                <div style="background: #eee; color: #666; margin-bottom: 20px; font-weight: bold; padding: 15px 20px; margin-top:5px;">
                    <p style="font-size: 16px; margin-bottom: 10px">How much does it cost?</p>
                    <p>
                        Games cost between $30 and $42 per player. See our pricing chart below.
                    </p>
                    <p>All games are private events -- you will not be joined by players outside your party. </p>
                </div>

                <table class="table table-bordered table-responsive currency">
                    <thead>
                    <tr>
                        <th class="text-right">
                            #&nbsp;Players
                        </th>
                        <th class="text-right">
                            Cost&nbsp;/&nbsp;Player
                        </th>
                        <th class="text-right">
                            Total
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                {{toCurrency 42}}
                            </td>
                            <td>
                                {{toCurrency 84}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                {{toCurrency 38}}
                            </td>
                            <td>
                                {{toCurrency 114}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                {{toCurrency 35}}
                            </td>
                            <td>
                                {{toCurrency 140}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                {{toCurrency 33}}
                            </td>
                            <td>
                                {{toCurrency 165}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                            <td>
                                {{toCurrency 33}}
                            </td>
                            <td>
                                {{toCurrency 198}}
                            </td>
                        </tr>
                        {{#if gte n1=room.maxPlayers n2=7}}
                            <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    {{toCurrency 33}}
                                </td>
                                <td>
                                    {{toCurrency 231}}
                                </td>
                            </tr>
                        {{/if}}
                        {{#if gte n1=room.maxPlayers n2=8}}

                            <tr>
                                <td>
                                    8
                                </td>
                                <td>
                                    {{toCurrency 33}}
                                </td>
                                <td>
                                    {{toCurrency 264}}
                                </td>
                            </tr>
                        {{/if}}
                    </tbody>
                </table>

                <div style="background: #eee; color: #0e5900; margin-bottom: 20px; font-weight: bold; padding: 15px 20px;">
                    <p style="font-size: 16px; margin-bottom: 3px">Kama'aina Discount</p>
                    Hawai'i residents each get $3 off. Hawaii ID required.
                </div>

                {{#with settings}}
                    <p class="testimonial" style="margin-left: 0; margin-right:0; max-width: none; padding: 0; margin-bottom: 20px;">
                        <span class="testimonial-quote" style="font-size: 16px; line-height: 24px;">
                            "{{firstTestimonial}}"
                            </span><br>
                        <span class="testimonial-author" style="font-size: 14px; line-height: 22px;">
                             &mdash; {{firstCite}}
                        </span>
                    </p>
                    <p class="testimonial" style=" margin-left: 0; margin-right:0; max-width: none;  padding: 0; margin-bottom: 20px;">
                        <span class="testimonial-quote" style="font-size: 16px; line-height: 24px;">
                            "{{secondTestimonial}}"
                            </span><br>
                        <span class="testimonial-author" style="font-size: 14px; line-height: 22px;">
                             &mdash; {{secondCite}}
                        </span>
                    </p>
                {{/with}}

                <p>
                    <img src="/images/tripadvisor.jpg" style="width:100px;">
                </p>
                <p>
                    <img src="/images/yelp.png" style="width:100px; padding: 5px;">
                </p>
            </div>
        </div>
    </div>


</template>
