<template name="adminGamesCalendarGame">
    <div class="admin-games-calendar-game {{#if hasReservations this}}has-reservations{{/if}} {{#if canBeBooked this}}can-be-booked{{/if}} ">
        <span class="game-time">{{time}}</span><br>
        {{roomTitle roomId}}<br>
        {{gameMasterName userId}}<br>
        {{calculateNbPlayers this}} Players
        {{#if isClosedRoom this}}
            <br>CLOSED ROOM
        {{/if}}
        {{#unless isPaidInFull this}}
            <br><span class="label label-danger">PAYMENT REQUIRED</span>
        {{/unless}}
        <br>
        <a href="#" hook="edit-game" hook-data-game-id="{{_id}}" class="action-link">Manage</a>
        <span style="color:#40576f;">&bull;</span>
        <a href="{{pathFor 'gamePlay' _id=_id}}" class="action-link">Play</a>
    </div>
</template>